{:write-address ["AWVALID" "AWREADY" "AWADDR" "AWLEN" "AWSIZE" "AWBURST" "AWID" "AWLOCK" "AWCACHE" "AWPROT" "AWQOS"]
 :write-data ["WVALID" "WREADY" "WDATA" "WSTRB" "WLAST"]
 :write-response ["BVALID" "BREADY" "BRESP" "BID"]
 :read-address ["ARVALID" "ARREADY" "ARADDR" "ARLEN" "ARSIZE" "ARBURST" "ARID" "ARLOCK" "ARCACHE" "ARPROT" "ARQOS"]
 :read-data ["RVALID" "RREADY" "RDATA" "RRESP" "RLAST" "RID"]}
