[{:db/id -1, :kotoba.ip.bus-protocol.axi4-signals/write-address ["AWVALID" "AWREADY" "AWADDR" "AWLEN" "AWSIZE" "AWBURST" "AWID" "AWLOCK" "AWCACHE" "AWPROT" "AWQOS"], :kotoba.ip.bus-protocol.axi4-signals/write-data ["WVALID" "WREADY" "WDATA" "WSTRB" "WLAST"], :kotoba.ip.bus-protocol.axi4-signals/write-response ["BVALID" "BREADY" "BRESP" "BID"], :kotoba.ip.bus-protocol.axi4-signals/read-address ["ARVALID" "ARREADY" "ARADDR" "ARLEN" "ARSIZE" "ARBURST" "ARID" "ARLOCK" "ARCACHE" "ARPROT" "ARQOS"], :kotoba.ip.bus-protocol.axi4-signals/read-data ["RVALID" "RREADY" "RDATA" "RRESP" "RLAST" "RID"]}]