[{:db/id -1, :kotoba.ip.noc.area-model/mesh "{:port-cost 5000.0}", :kotoba.ip.noc.area-model/ring "{:node-multiplier 3.0, :port-cost 5000.0}", :kotoba.ip.noc.area-model/crossbar "{:port-cost 3000.0}", :kotoba.ip.noc.area-model/tree "{:node-multiplier 2.0, :port-cost 5000.0}", :kotoba.ip.noc.area-model/width-baseline 32.0}]